!!! 5
%head
  %title W-S-E
  %link{:rel => "stylesheet", :href => "wse.css", :type => "text/css", :charset => "utf-8"}
%body
  %h1="Stats for #{ participant[:_id] }"
  %h2="Age: #{ participange[:age]}, Gender: #{ participant[:gender] }"
  %h3 Total
  %h4="Total: #{stats[:total][:size]}"
  %h4="Correct: #{stats[:total][:correct]}"
  %h4="Percent: #{stats[:total][:percent]}"
  %h3 Words
  %h4="Total: #{stats[:word][:size]}"
  %h4="Correct: #{stats[:word][:correct]}"
  %h4="Percent: #{stats[:word][:percent]}"
  %h3 Letters
  %h4="Total: #{stats[:letter][:size]}"
  %h4="Correct: #{stats[:letter][:correct]}"
  %h4="Percent: #{stats[:letter][:percent]}"
  %h3 Masked
  %h4="Total: #{stats[:masked][:size]}"
  %h4="Correct: #{stats[:masked][:correct]}"
  %h4="Percent: #{stats[:masked][:percent]}"
  

